<!DOCTYPE html>
<html lang="en">
<head>
  <title>FIFA World Cup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/team_info.js') }}"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css') }}">
   <link rel="stylesheet" href="{{url_for('static', filename='css/world.css') }}">
   <script src="http://d3js.org/d3.v4.min.js"></script>
   <script src="http://d3js.org/topojson.v1.min.js"></script>
   <script src="http://d3js.org/queue.v1.min.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
   </head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="index.html">FIFA</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="join.html">Join</a></li>
        <li><a href="predict.html">Predict</a></li>
		<li><a href="videos.html">Videos</a></li>
        <li><a href="score.html">Score</a></li>
		<li><a href="visual1.html">Player Statistics</a></li>
        <li class="active"><a href="visual2.html">Team Statistics</a></li>
		<li><a href="destination.html">Match Location</a></li>
      </ul>
    </div>
  </div>
</nav>
   <div class="game_info" data-spy="scroll" data-target=".header">

      <section class = "Earthglobe">
      <script> 
         
 var width = 600,
  height = 500,
  sens = 0.25,
  focused;

  //Setting projection

  var projection = d3.geoOrthographic ()
  .scale(245)
  .rotate([0, 0])
  .translate([width / 2, height / 2])
  .clipAngle(90);

  var path = d3.geoPath()
  .projection(projection);

  //SVG container

  var svg = d3.select("body").append("svg")
  .attr("width", width)
  .attr("height", height);

  //Adding water

  svg.append("path")
  .datum({type: "Sphere"})
  .attr("class", "water")
  .attr("d", path);

  var countryTooltip = d3.select("body").append("div").attr("class", "countryTooltip"),
  countryList = d3.select("body").append("select").attr("name", "countries");
  d3.select("select").attr("id","country_list");


  queue()
  .defer(d3.json, "https://gist.githubusercontent.com/U-Dayy/3265260a932a3520cc71159e81307222/raw/1eede92d30ab1e2c759d6345cfd859f4ad5dd463/world-110m.json")
  .defer(d3.tsv, "https://gist.githubusercontent.com/U-Dayy/4b17a737eccd4a5d1d885f4c40cd4a62/raw/b115a247e786478e58b16362cc470d647bd911a4/world-110m-country-names.tsv")
  .await(ready);

  //Main function

  function ready(error, world, countryData) {

    var countryById = {},
    countries = topojson.feature(world, world.objects.countries).features;

    //Adding countries to select

    countryData.forEach(function(d) {
      countryById[d.id] = d.name;
      option = countryList.append("option");
      option.text(d.name);
      option.property("value", d.id);
    });

    //Drawing countries on the globe

    var world = svg.selectAll("path.land")
    .data(countries)
    .enter().append("path")
    .attr("class", "land")
    .attr("d", path)

    //Drag event

    .call(d3.drag()
      .subject(function() { var r = projection.rotate(); return {x: r[0] / sens, y: -r[1] / sens}; })
      .on("drag", function() {
        var rotate = projection.rotate();
        projection.rotate([d3.event.x * sens, -d3.event.y * sens, rotate[2]]);
        svg.selectAll("path.land").attr("d", path);
        svg.selectAll(".focused").classed("focused", focused = false);
      }));

    //Country focus on option select

    d3.select("select").on("change", function() {
	  //$("html, body").animate({ scrollTop: $(document).height() }, "slow");
      var rotate = projection.rotate(),
      focusedCountry = country(countries, this),
      p = d3.geoCentroid(focusedCountry);

      svg.selectAll(".focused").classed("focused", focused = false);
      showDiv();

    //Globe rotating

    (function transition() {
      d3.transition()
      .duration(500)
      .tween("rotate", function() {
        var r = d3.interpolate(projection.rotate(), [-p[0], -p[1]]);
        return function(t) {
          projection.rotate(r(t));
          svg.selectAll("path").attr("d", path)
          .classed("focused", function(d, i) { return d.id == focusedCountry.id ? focused = d : false; });
        };
      })
      })();
    });

    function country(cnt, sel) { 
      for(var i = 0, l = cnt.length; i < l; i++) {
        if(cnt[i].id == sel.value) {return cnt[i];}
      }
    };
    function showDiv() {
      document.getElementById('pointstable').style.display = "block";
    };

  };
  
      </script>
      </section>
      <section>
         <div  id = "pointstable">
                  <h4>Team Statistics</h4>
                  <aside id="sidebar2" >
                     <div class="feature-matchs">
                        <table class="table table-bordered table-hover" id ="roster">
                            <thead>
                            <tr>
                                <td>Age</td>
                                 <td>Caps</td>
                                <td>Club</td>
                                 <td>DOB</td>
                                 <td>Goals</td>
                                 <td>Group</td>
                                 <td>Player</td>
                                  <td>Position</td>
                                  <td>Squad#</td>
                                  <td>Team</td>
                                  <td>index</td>

                              </tr>
                            </thead>

                        </table>
                     </div>
                  </aside>
            </div>
      </section>
   </div>

</body>
</html>
